<!doctype html>
<html {ifvalue html_tags}{raw}html_tags{raw}{ifvalue}>
<head {ifvalue html_head_tags}{raw}html_head_tags{raw}{ifvalue}>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{value}html_page_title{value}</title>

<base href="{value}html_base_href{value}">

<link rel="icon" type="image/png" href="{publiclink}images/favicon.ico{publiclink}">

<link rel="stylesheet" href="{publiclink}external/bootstrap/4.3.1/css/bootstrap.min.css{publiclink}">

<link rel="stylesheet" href="{publiclink}external/font-awesome/5.10.1/css/all.min.css{publiclink}">

<link rel="stylesheet" href="{publiclink}templates/Covfefe/stylesheets/site.min.css||v=20191010{publiclink}">

<script src="{publiclink}external/jquery-3.4.1.min.js{publiclink}"></script>

<script>
let OSCOM = {
    ready: callback️ => {
        if (callback️ && typeof callback️ === 'function') {
            document.addEventListener('DOMContentLoaded', () => {
                if (document.readyState === 'interactive' || document.readyState === 'complete') {
                    return callback️();
                }
            });
        }
    },
    cardBackgroundColors: [
        'f44336',
        'b71c1c',
        'e91e63',
        '880e4f',
        '9c27b0',
        '4a148c',
        '673ab7',
        '3f51b5',
        '1a237e',
        '2196f3',
        '03a9f4',
        '00bcd4',
        '009688',
        '4caf50',
        '1b5e20',
        '8bc34a',
        'cddc39',
        'ffeb3b',
        'ffc107',
        'ff9800',
        'e65100',
        'ff5722',
        '795548',
        '3e2723',
        '607d8b',
        '263238'
    ]
};
</script>

{ifvalue html_header_tags}
  {raw}html_header_tags{raw}
{ifvalue}

</head>
<body>

<header class="pb-3">
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <a href="{link}Index{link}" class="navbar-brand"><img src="{publiclink}images/oscommerce.png{publiclink}" id="logo" class="img-fluid"></a>

      <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarLinks">
        <ul class="navbar-nav nav-pills">
          <li class="nav-item"><a href="{link}Index{link}" class="nav-link">{lang}navbar_home{lang}</a></li>
          <li class="nav-item"><a id="nbShowcase" href="{link}Showcase{link}" class="nav-link">{lang}navbar_showcase{lang}</a></li>
          <li class="nav-item"><a id="nbSubmit" href="{link}Submit{link}" class="nav-link">{lang}navbar_submit{lang}</a></li>
          <li class="nav-item"><a id="btnAmbassadors" href="{link}_|Website|Ambassadors{link}" class="nav-link text-danger"><i class="fas fa-heart"></i></a></li>
          <li class="nav-item dropdown" id="btnAccountContainer">
            <a href="#" id="btnAccount" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
            <div class="dropdown-menu" aria-labelledby="btnAccount">

{ifvalue user}
<!--              <a id="nbMyUploads" href="{link}Account||Uploads{link}" class="dropdown-item">{lang}navbar_my_uploads{lang}</a> //-->
              <a href="{link}Account||OkILoveYouByeBye{link}" class="dropdown-item">{lang}navbar_log_out{lang}</a>
{else}
              <a href="{link}Account||Login&{raw}url_params_string{raw}{link}" class="dropdown-item">{lang}navbar_log_in{lang}</a>
              <a href="{link}Account||Create&{raw}url_params_string{raw}{link}" class="dropdown-item">{lang}navbar_create_account{lang}</a>
{ifvalue}

            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  {import}{value}html_page_contents_file{value}{import}
</div>

<footer class="pt-3 mt-3 pb-3">
  <div class="container">
    <p id="footerSocialLinks">
      <a href="{link}Contact|Website|Newsletter{link}" title="{escape}{lang}social_newsletter_title{lang}{escape}" class="text-success"><i class="fas fa-envelope"></i></a>
      <a href="https://twitter.com/osCommerce" target="_blank" title="{escape}{lang}social_twitter_title{lang}{escape}" class="text-info"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/pages/osCommerce/33387373079" target="_blank" title="{escape}{lang}social_facebook_title{lang}{escape}" class="text-primary"><i class="fab fa-facebook"></i></a>
      <a href="https://github.com/osCommerce" target="_blank" title="{escape}{lang}social_github_title{lang}{escape}" class="text-dark"><i class="fab fa-github"></i></a>
    </p>

    {lang}copyright_footer{lang}
  </div>
</footer>

<script src="{publiclink}external/stickyfill-2.1.0.min.js{publiclink}"></script>
<script src="{publiclink}external/mustache-3.0.2.min.js{publiclink}"></script>
<script src="{publiclink}external/bootstrap/4.3.1/js/bootstrap.bundle.min.js{publiclink}"></script>

{ifvalue html_footer_tags}
  {raw}html_footer_tags{raw}
{ifvalue}

{raw}js_block{raw}

{raw}app_js_ext{raw}

</body>
</html>
